<div *ngIf="completed">
  <div *ngIf="!click_flag && !user_click_flag && !relationship_flag">
    <form class="example-form">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 mt-4">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>
              Search fav Subreddit
              <mat-icon
                mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                >search</mat-icon
              ></mat-label
            >
            <input
              matInput
              type="text"
              [(ngModel)]="subreddit_name"
              name="input_subreddit"
            />
          </mat-form-field>
          &nbsp;
          <button
            mat-button
            type="button"
            class="btn btn-success"
            (click)="show_specific_subreddits()"
          >
            Search
          </button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-4" *ngFor="let meme of data.memes">
        <mat-card class="example-card mb-3">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ meme.author }}</mat-card-title>
            <mat-card-subtitle>{{ meme.subreddit }}</mat-card-subtitle>

            <a [href]="meme.postLink">
              <mat-icon>open_in_new</mat-icon>
            </a>
          </mat-card-header>
          <img mat-card-lg-image [src]="meme.url" alt="Photo of a Shiba Inu" />
        </mat-card>
      </div>
    </div>
  </div>
  <app-search-meme
    *ngIf="click_flag"
    [specific_subreddits]="specific_subreddits"
  >
  </app-search-meme>
</div>
<div *ngIf="!completed">
  <app-loader> </app-loader>
</div>
<div *ngIf="click_flag" class="middle">
  <button
    mat-button
    type="button"
    class="btn btn-success"
    (click)="resetting_click_flag()"
  >
    back
  </button>
</div>
<router-outlet></router-outlet>
<br />
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-4 margin_bottom">
    <button
      *ngIf="!user_click_flag && !click_flag && !relationship_flag"
      mat-button
      type="button"
      class="btn btn-success"
      (click)="demo()"
    >
      show user data
    </button>
  </div>
</div>
<div *ngIf="user_click_flag" class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4 margin_bottom">
    <button
      mat-button
      type="button"
      class="btn btn-success"
      (click)="restting_user_click_flag()"
    >
      back to home screen
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <!-- <div class="col-md-4 margin_bottom">
    <button
      mat-button
      type="button"
      class="btn btn-success"
      (click)="setting_relationship_flag()"
      *ngIf="!relationship_flag"
    >
      find relationship status with partner
    </button>
  </div> -->
  <div class="col-md-4 margin_bottom">
    <button
      mat-button
      type="button"
      class="btn btn-success"
      (click)="resetting_relationship_flag()"
      *ngIf="relationship_flag"
    >
      back
    </button>
  </div>
</div>
