<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div
      class="image d-flex flex-column justify-content-center align-items-center"
    >
      <button class="btn btn-secondary">
        <img [src]="single_user_data.picture" height="100" width="100" />
      </button>
      <span class="name mt-3">{{ single_user_data.name }}</span>
      <span class="idd">{{ single_user_data.cell }}</span>
      <div
        class="d-flex flex-row justify-content-center align-items-center gap-2"
      >
        <span class="idd1">{{ single_user_data.email }}</span>
        <span><i class="fa fa-copy"></i></span>
      </div>
      <div
        class="d-flex flex-row justify-content-center align-items-center mt-3"
      >
        <span class="number"
          >{{ single_user_data.age + 1000 }} Followers
          <span class="follow"></span
        ></span>
      </div>
      <div class="d-flex mt-2">
        <span>Age {{ single_user_data.age }}</span>
      </div>
      <div class="d-flex mt-2">
        <span> Gender: {{ single_user_data.gender }}</span>
      </div>
      <div class="text mt-3">
        <span> Address: {{ single_user_data.address }} </span>
      </div>
    </div>
  </div>
</div>
